<div class="vorkurt__height-account">
  <div class="flex vorkurt__background-primary h-screen">
    <div
      class="vorkurt__border-right vorkurt__color-text-line vorkurt__background-secondary w-1/5"
    >
      <elix-left-side-repo></elix-left-side-repo>
    </div>
    <div class="pt-2 text-white vorkurt__background-primary w-1/2">
      <elix-center-activity class="flex justify-center"></elix-center-activity>
    </div>
    <div
      class="vorkurt__background-primary pt-2 w-1/4 vorkurt__border-left vorkurt__color-text-line"
    >
      <elix-right-side-artifacts></elix-right-side-artifacts>
    </div>
  </div>
</div>
