.elix__height {
  height: 94%;
}

.wrapper-arrow {
  position: absolute;
}

.arrow {
  position: absolute;
  left: 54%;
  top: 6%;
  width: 43%;
  height: 63%;
  margin-right: 11px;
  border-width: 0 5px 5px 0;
  border-style: dashed;
  border-color: var(--second-primary-text);
  border-bottom-right-radius: 100%;

  .arrow__body::after {
    content: "";
    position: absolute;
    right: -17px;
    top: -4px;
    transform: rotate(180deg);
    border-width: 20px 15px 0;
    border-style: solid;
    border-color: var(--second-primary-text) transparent transparent;
  }
}
