$testVariable : #fff;
$backgroundPrimary: #373e47;
:root {
  --primary-color-background   : #2d333b;
  --secondary-color-background : #22272e;
  --primary-color-text         : #92A2BD;
  --second-color-text         : #505053;
  --second-primary-text : #EC775C;
  --primary-color-input: #258EA6;
  --primary-background-input: #E7E6F7;
  --secondary-input-background: #1c2128;
  --backgroundPrimary: #373e47
}

