<div class="text-base vorkurt__border-bottom mb-6">
  <div>
    <div class="font-bold flex flex-col">
      <span>Initialize this repository with:</span>
    </div>
    <div class="text-sm vorkurt__color-text-line">
      <span>Skip this step if you’re importing an existing repository.</span>
    </div>
    <div>
      <mat-checkbox class="example-margin my-3">
        <div class="flex">
          <div class="flex flex-col">
            <span class="h-3 text-base mb-2"> Add a README file </span>
            <span>
              This is where you can write a long description for your project.
              Learn more.
            </span>
          </div>
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox class="example-margin my-3">
        <div class="flex">
          <div class="flex flex-col">
            <span class="h-3 text-base mb-2"> Add .gitignore </span>
            <span>
              Choose which files not to track from a list of templates. Learn
              more.
            </span>
          </div>
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox class="example-margin my-3">
        <div class="flex">
          <div class="flex flex-col">
            <span class="h-3 text-base mb-2"> Choose a license </span>
            <span>
              A license tells others what they can and can't do with your code.
              Learn more.
            </span>
          </div>
        </div>
      </mat-checkbox>
    </div>
  </div>
  <div>
    <div>
      <span>
        This will set main as the default branch. Change the default name in
        your settings.
      </span>
    </div>
  </div>
</div>
<div
  class="mb-6 flex h-7 items-center justify-center w-1/4 rounded-lg ml-2 mr-2 cursor-pointer"
>
  <button elixBtnPrimary class="flex justify-center" (click)="onSubmit()">
    <div class="ml-2">
      <span class="font-normal text-base">Create Repository</span>
    </div>
  </button>
</div>
